<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="LotteryManagementEntities" connectionString="Data Source=.;Initial Catalog=LotteryManagement;Integrated Security=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="LotteryServiceUrl" value="https://www.minhngoc.com.vn/ket-qua-xo-so/" />
		<add key="CititransSecretKey" value="ea5b74d6-0704-6c8c-4a27-51959370c8a6" />
		<add key="CititransAgentId" value="EAS" />
		<add key="CititransServerTimeOffset" value="7"/>
		<add key="CacheDayDuration" value="3" />
	</appSettings>
</configuration>